[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-bcrypt = "*"
flask-cors = "*"
flask-migrate = "*"
flask-restx = "*"
flask-sqlalchemy = "*"
pyjwt = "*"
python-dateutil = "*"
requests = "*"
gunicorn = "*"
mysqlclient = "*"
pymysql = "*"
python-dotenv = "*"
werkzeug = "==0.16.1"
markupsafe = "==2.0.1"
cryptography = "*"

[dev-packages]

[requires]
python_version = "3.9"
